Daily Weather Report.json
{
  "name": "Daily Weather Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        0
      ],
      "id": "b8e623b2-8064-4b75-88db-9086f0e6e89d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=6.5244&longitude=3.3792&current=temperature_2m,relative_humidity_2m,apparent_temperature,weather_code,wind_speed_10m,rain",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        0
      ],
      "id": "5a53d225-d726-4031-85d0-150521f10849",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f062dcf7-a994-4989-bc2f-e95a00cb7f12",
              "name": "Temperature",
              "value": "={{ $json.current.temperature_2m }}",
              "type": "number"
            },
            {
              "id": "f5a8290f-2c90-41f6-8716-dbbf11df80e0",
              "name": "Relative Humidity",
              "value": "={{ $json.current.relative_humidity_2m }}",
              "type": "number"
            },
            {
              "id": "c69b3af6-d348-47f7-9cb0-0118cc36a81d",
              "name": "Feels Like",
              "value": "={{ $json.current.apparent_temperature }}",
              "type": "number"
            },
            {
              "id": "cab20309-082b-43ea-bf12-05a133088850",
              "name": "Rain",
              "value": "={{ $json.current.rain }}",
              "type": "number"
            },
            {
              "id": "5c21509c-ada4-4cc0-91fa-88ae835910eb",
              "name": "Time",
              "value": "={{ $json.current.time }}",
              "type": "string"
            },
            {
              "id": "e0a9762e-a94b-4abb-88d9-f32f20dd40c7",
              "name": "Wind",
              "value": "={{ $json.current.wind_speed_10m }}",
              "type": "number"
            },
            {
              "id": "14b6b205-e0de-46ef-843b-f0935cd14d83",
              "name": "Weather code",
              "value": "={{ $json.current.weather_code }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -128
      ],
      "id": "0796e813-4066-4f9a-902a-54a3378db310",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Read the data from the previous node\nconst weatherCode = $json[\"Weather code\"];\n\n// Weather code descriptions (Open-Meteo WMO codes)\nconst weatherMap = {\n  0: { description: \"Clear Sky\", emoji: \"☀️\" },\n  1: { description: \"Mainly Clear\", emoji: \"🌤️\" },\n  2: { description: \"Partly Cloudy\", emoji: \"⛅\" },\n  3: { description: \"Overcast\", emoji: \"☁️\" },\n  45: { description: \"Fog\", emoji: \"🌫️\" },\n  48: { description: \"Depositing Rime Fog\", emoji: \"🌫️\" },\n\n  51: { description: \"Light Drizzle\", emoji: \"🌦️\" },\n  53: { description: \"Moderate Drizzle\", emoji: \"🌦️\" },\n  55: { description: \"Dense Drizzle\", emoji: \"🌧️\" },\n\n  61: { description: \"Light Rain\", emoji: \"🌦️\" },\n  63: { description: \"Moderate Rain\", emoji: \"🌧️\" },\n  65: { description: \"Heavy Rain\", emoji: \"🌧️\" },\n\n  71: { description: \"Light Snow\", emoji: \"❄️\" },\n  73: { description: \"Moderate Snow\", emoji: \"🌨️\" },\n  75: { description: \"Heavy Snow\", emoji: \"❄️\" },\n\n  80: { description: \"Rain Showers\", emoji: \"🌦️\" },\n  81: { description: \"Moderate Rain Showers\", emoji: \"🌧️\" },\n  82: { description: \"Violent Rain Showers\", emoji: \"⛈️\" },\n\n  95: { description: \"Thunderstorm\", emoji: \"⛈️\" },\n  96: { description: \"Thunderstorm with Hail\", emoji: \"⛈️\" },\n  99: { description: \"Severe Thunderstorm with Hail\", emoji: \"⛈️\" }\n};\n\n// Default if code isn't found\nconst weather = weatherMap[weatherCode] || {\n  description: \"Unknown Weather\",\n  emoji: \"❓\"\n};\n\n// Return all original data plus the new fields\nreturn {\n  json: {\n    ...$json,\n    weather_description: weather.description,\n    weather_emoji: weather.emoji\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "114cf36a-0158-4515-84b2-c6034e7d863f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional weather report.\n\nUse ONLY the weather information provided below.\nDo NOT assume or invent any weather conditions.\n\nWeather Condition:\n{{ $json.weather_emoji }} {{ $json.weather_description }}\n\nTemperature:\n{{ $json[\"Temperature\"] }}°C\n\nFeels Like:\n{{ $json[\"Feels Like\"] }}°C\n\nHumidity:\n{{ $json[\"Relative Humidity\"] }}%\n\nWind Speed:\n{{ $json[\"Wind\"] }} km/h\n\nRainfall:\n{{ $json[\"Rain\"] }} mm\n\nWrite a friendly report of no more than 120 words.\nFinish with one practical recommendation.",
        "options": {
          "systemMessage": "=You are a professional meteorologist.\n\nUsing ONLY the weather data below, write a weather summary in exactly 2-3 sentences.\n\nWeather:\n{{ $('Code in JavaScript').item.json.weather_emoji }}\n{{ $('Code in JavaScript').item.json.weather_description }}\n\nTemperature:\n{{ $('Code in JavaScript').item.json[\"Temperature\"] }}°C\n\nFeels Like:\n{{ $('Code in JavaScript').item.json[\"Feels Like\"] }}°C\n\nHumidity:\n{{ $('Code in JavaScript').item.json[\"Relative Humidity\"] }}%\n\nWind:\n{{ $('Code in JavaScript').item.json[\"Wind\"] }} km/h\n\nRainfall:\n{{ $('Code in JavaScript').item.json[\"Rain\"] }} mm\n\nRules:\n- Do not repeat the numbers unnecessarily.\n- Do not invent any weather conditions.\n- Return ONLY the summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        96
      ],
      "id": "be487bf2-2c44-40b1-ad1f-b4a20ea559fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        432,
        256
      ],
      "id": "9455b7b5-f146-46b7-8764-ae17403caa35",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "s5LFXR76lgc7YwvS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "giyke2015@gmail.com",
        "subject": "Daily Weather Report",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody{\nfont-family:Arial,sans-serif;\nbackground:#f4f7fb;\nmargin:0;\npadding:30px;\n}\n\n.container{\nmax-width:650px;\nmargin:auto;\nbackground:white;\nborder-radius:12px;\noverflow:hidden;\nbox-shadow:0 3px 10px rgba(0,0,0,.1);\n}\n\n.header{\nbackground:#1976d2;\ncolor:white;\npadding:25px;\ntext-align:center;\n}\n\n.section{\npadding:25px;\n}\n\ntable{\nwidth:100%;\nborder-collapse:collapse;\n}\n\ntd{\npadding:12px;\nborder-bottom:1px solid #e5e5e5;\n}\n\n.label{\nfont-weight:bold;\nbackground:#fafafa;\nwidth:45%;\n}\n\n.summary{\nbackground:#f8fbff;\npadding:18px;\nborder-left:5px solid #1976d2;\nborder-radius:6px;\nmargin-top:20px;\n}\n\n.footer{\ntext-align:center;\npadding:18px;\nfont-size:12px;\ncolor:#666;\nbackground:#fafafa;\n}\n</style>\n</head>\n\n<body>\n\n<div class=\"container\">\n\n<div class=\"header\">\n\n<h1>🌤️ Daily Weather Report</h1>\n\n<p>Lagos, Nigeria</p>\n\n</div>\n\n<div class=\"section\">\n\n<table>\n\n<tr>\n<td class=\"label\">🌦️ Weather</td>\n<td>{{ $('Code in JavaScript').item.json.weather_emoji }} {{ $('Code in JavaScript').item.json.weather_description }}</td>\n</tr>\n\n<tr>\n<td class=\"label\">🌡️ Temperature</td>\n<td>{{ $('Code in JavaScript').item.json[\"Temperature\"] }}°C</td>\n</tr>\n\n<tr>\n<td class=\"label\">🤒 Feels Like</td>\n<td>{{ $('Code in JavaScript').item.json[\"Feels Like\"] }}°C</td>\n</tr>\n\n<tr>\n<td class=\"label\">💧 Humidity</td>\n<td>{{ $('Code in JavaScript').item.json[\"Relative Humidity\"] }}%</td>\n</tr>\n\n<tr>\n<td class=\"label\">💨 Wind Speed</td>\n<td>{{ $('Code in JavaScript').item.json[\"Wind\"] }} km/h</td>\n</tr>\n\n<tr>\n<td class=\"label\">🌧️ Rainfall</td>\n<td>{{ $('Code in JavaScript').item.json[\"Rain\"] }} mm</td>\n</tr>\n\n</table>\n\n<div class=\"summary\">\n\n<h3>📝 Today's Outlook</h3>\n\n<p>{{ $('AI Agent').item.json.output }}</p>\n\n</div>\n\n</div>\n\n<div class=\"footer\">\n\nGenerated automatically with ❤️ using n8n\n\n</div>\n\n</div>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "bccList": "herbayomi4@gmail.com, oganaikenna@gmail.com "
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        -16
      ],
      "id": "77d9df84-f266-4663-8b99-6fa51caadcf4",
      "name": "Send a message",
      "webhookId": "813a74ad-386d-48e5-87c1-aa5a465dce0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hY1BVZfuu64sn9gf",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6cd938d7-6ef9-452f-800b-24ef8a845546",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1371a0f6e5edba75595477fbee1d22952e5a6d559218f48bc4a25926f084aad7"
  },
  "id": "62vnHZqjDc9Elsh4",
  "tags": []
}